@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");
@import url("./assets/styles/base/base.css");
@import url("./assets/styles/base/reset.css");

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}