@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");
@import url("./assets/styles/base/base.css");
@import url("./assets/styles/base/reset.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.farewell-card {
  text-align: center;
  width: 100%;
  background-color: #ef7d8e;
  border-radius: 1rem;
  padding: 2rem;
  height: 100%;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
