@import url("../../abstracts/variables.css");

.course-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  width: 80%;
  min-height: 100vh;
  z-index: 1;
  margin-inline: auto;
  gap: 20px;
}

.course-hero .course-hero__description {
  width: 100%;
}

.course-hero .course-hero__description h1 {
  margin-bottom: 40px;
}

.course-hero .course-hero__video {
  width: 100%;
  height: 100%;
  background-color: #d0ccd6;
  border-radius: 1rem;
  overflow: hidden;
}

.course-topics {
  position: relative;
  padding-top: 200px;
  height: max-content;
  width: 100%;
  background: var(--orange-color);
}

.course-topics .course-topics__wrapper {
  width: 80%;
  margin-inline: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-topics__timeline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.course-topics__timeline .course-topics__timeline_wrapper {
  width: 80%;
  margin-inline: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.timeline-node {
  margin: 10px 0;
}

.node {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.node-dot {
  margin-right: 10px;
}

.accordion-content {
  overflow: hidden;
}

.accordion-content p {
  font-size: 1rem;
  font-weight: normal;
  text-wrap: balance;
  padding-left: 1.6rem;
}

.course-objectives {
  position: relative;
  height: max-content;
  background-color: var(--pink-color);
}

.course-objectives .course-objectives__wrapper {
  position: relative;
  height: 100%;
  width: 80%;
  margin-inline: auto;
  padding: 300px 0 0px 0;
}

.course-topics h2 {
  margin-bottom: 20px;
}

.course-objectives__objectives h2 {
  margin-bottom: 20px;
}

.course-objectives__target_audience h2 {
  margin-top: 40px;
}
.course-objectives__target_audience p {
  margin-top: 20px;
}

.course-payments {
  position: relative;
  height: max-content;
  background-color: var(--main-bg-color);
}

.course-payments .course-payments__wrapper {
  position: relative;
  height: 100%;
  width: 80%;
  margin-inline: auto;
  padding: 300px 0 80px 0;
}

.course-payments__payments_data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  gap: 20px;
}

.course-payments__payments_data .course-payments__payments_description p {
  margin-top: 20px;
}
.course-payments__payments_pricing {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.pricing_card {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px #e3e2e2 solid;
  width: 50%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    box-shadow 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pricing_card:hover {
  transform: scale(1.02);
  box-shadow: var(--text-color) 0px 25px 20px -20px;
}

.pricing_card .pricing_card__benefits_list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.pricing_card .pricing_card__price {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pricing_card .pricing_card__price .btn {
  margin-top: 10px;
}

.pricing_card .pricing_card__price h3 {
  margin-top: 20px;
  align-self: flex-end;
}

.course-promotion-hook {
  height: max-content;
  width: 100%;
  padding: 0 0 80px;
}

.course-promotion-hook .course-promotion-hook__wrapper {
  height: 100%;
  width: 80%;
  margin-inline: auto;
}

.course-promotion-hook__container {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
  height: max-content;
}

.course-promotion-hook__container .course-promotion-hook__description {
  width: 100%;
  background-color: #f5f5f5;
  border: 1px #e3e2e2 solid;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.course-promotion-hook__container .course-promotion-hook__description p {
  margin-top: 20px;
}

.course-promotion-hook__container .course-promotion-hook__image {
  text-align: center;
  width: 100%;
  background-color: #ef7d8e;
  border-radius: 1rem;
  padding: 2rem;
  height: 100%;
}
