footer {
  background-color: var(--pink-color);
}

.footer-container {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-container h2, h3{
  font-weight: 300;
  color: rgba(255, 255, 255, 90%);
  font-size: 0.6rem;
}
