/* HEADER STYLES */
.header {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-panel {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  cursor: pointer;
  font-size: 3.5rem;
  color: #fff;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  background-color: var(--pink-color);
}

.bottom-panel:hover {
  color: var(--violet-color);
}

.header-intro {
  display: flex;
  flex-direction: column;
  width: 60%;
  overflow: hidden;
}

.header-intro h1,
p,
.btn,
.header-img {
  z-index: 1;
  color: var(--text-color);
}

.header-intro span {
  color: var(--violet-color);
}

.header-intro h1 {
  font-size: 2rem;
  font-weight: 600;
}

.header-intro p {
  font-size: 0.5rem;
  width: 100%;
  margin-bottom: 5%;
}

.header-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header-btn-container .btn {
  cursor: pointer;
}

.header-btn-container .btn:nth-child(even) {
  background-color: transparent;
  color: var(--violet-color);
  border: 1px solid var(--violet-color);
}

.header-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.personal-img {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .bottom-panel {
    font-size: 2.5rem;
    bottom: 0;
    padding: 0.5rem;
    color: #fff;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    background-color: var(--pink-color);
  }

  .header-intro {
    width: 90%;
  }

  .header-intro h1 {
    text-align: center;
  }

  .header-intro p {
    font-size: 0.8rem;
    width: 100%;
  }
}

@media only screen and (min-width: 769px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
  }
}
