/* MODAL COURSES */
.modal-courses {
    z-index: 3;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(35, 35, 35, 0.4);
}

.modal-container {
    position: relative;
    width: 70%;
    max-height: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    padding: 15px;
    overflow-y: scroll;
}

.modal-container .modal-bar {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}

.modal-container svg {
    font-size: 4rem;
    color: rgb(35, 35, 35);
}

.modal-container svg:hover {
    color: var(--pink-color);
}

.modal-container h2 {
    text-align: center;
    color: var(--pink-color);
}

.modal-container h3{
    font-size: 1rem;
    color:rgba(35, 35, 35);
}

.modal-container .btn {
    width: 40%;
}

.modal-container p {
    margin: 5% 0;
    color: rgb(120, 120, 120);
}

/* Properties for modal windows about courses */
.enabled {
    display: flex;
}